body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #fffaf7;
    color: #333;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #ffe4e1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #444;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px;
    background-color: #fff0f5;
}

/* SECTION */
section {
    padding: 40px;
}

/* CARDS */
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    width: 200px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* GALLERY */
.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item {
    width: 200px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #ffe4e1;
}